.cart-product {
	display: flex;
	align-items: center;
	background-color: #ffd146;
	margin: 12px;
	padding: 8px;
	border-radius: 8px;
	position: relative;
}
.cart-product img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 5px;
}
.close-button {
	position: absolute;
	right: 20px;
	border: none;
	cursor: pointer;
	padding: 5px;
	border-radius: 50%;
	color: #8a1919;
}
